.table {
    width: 930px;
    margin-left: -50px;
}

.table-body {
    display: flex;
    flex-direction: column;
    width: 940px;
}

.table-line {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0;
}

.line-items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    height: 55px;
}

